* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 80%;
	margin: 0 auto;

	background-color: #231d1d;

	font-family: "Oswald", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;

	background-color: white;

	margin-top: 30px;
	padding: 10px 10px;

	/* border: 2px solid black; */
	border-radius: 5px;
}

.logo {
	display: flex;
	/* border: 2px solid black; */
	align-items: center;
	background: transparent;
	gap: 10px;
}

.logo > img {
	width: 50px;
	height: 50px;
	background: inherit;
}

.logo > span {
	font-size: 1.5rem;
	background: inherit;
}

.theme-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	background: inherit;
	/* border: 2px solid red; */
}

.theme-selector > span {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
}

.light {
	background-color: #e0d9d9;
}

.medium {
	background-color: rgb(52, 52, 52);
}

.dark {
	background-color: rgb(0, 0, 0);
}
.gradOne {
	background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.gradTwo {
	background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.gradThree {
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.add-task {
	width: 400px;
	height: 60px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 10px 10px;

	border-radius: 5px;

	background-color: white;
}

.add-task > form {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100%;
}

.add-task button {
	background-color: rgb(84, 216, 120);
	color: white;

	border: none;
	border-radius: 5px;

	height: 40px;
	width: 50px;

	cursor: pointer;
}

.add-task input {
	border: none;
	width: 80%;
	font-size: 1rem;
}

.add-task input:focus {
	outline: none;
}

.show-task {
	background-color: white;

	margin-top: 20px;

	border-radius: 5px;
}

.head {
	display: flex;
	justify-content: space-between;

	padding: 20px;
	margin: 5px 5px;

	border-bottom: 1px solid rgb(187, 187, 187);
}

.head > div {
	display: flex;
	align-items: center;

	font-size: 1.5rem;
}

.count {
	background-color: rgb(243, 30, 83);
	color: white;

	font-size: 1.5rem;

	border-radius: 50%;

	margin: 0px 15px;
	width: 30px;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.instruction {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	font-style: italic;
	color: #ababab;
}

.clear-all {
	background-color: rgb(65, 173, 255);
	color: white;

	font-weight: 700;

	border: none;
	border-radius: 5px;

	width: 100px;

	cursor: pointer;
}

.show-task ul {
	display: grid;
	/* grid-template-columns: repeat(3, auto); */
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 10px;
	padding: 10px;
}

.show-task ul > li {
	display: flex;
	justify-content: center;

	list-style: none;

	padding: 10px;

	border: 2px solid black;

	cursor: pointer;
}

.task-container {
	display: flex;
	flex-direction: column;
}

#input-edit {
	border: none;
}

#input-edit:focus {
	outline: none;
}

.name {
	font-size: 2rem;
}

.time {
	font-size: 1rem;
	font-weight: 100;

	color: rgb(119, 119, 119);
}

.trash-icon {
	width: 20px;
	height: 20px;
}

.trash-btn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.pencil-icon {
	width: 20px;
	height: 20px;
}

.pencil-btn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
